@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
}

header .navbar a{
    color: #000;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .navbar a:not(:last-child){
    margin-right: 30px;
}

header .navbar a:hover{
    background: gray;
}

header .navbar button{
    color: #000;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

.content{
    max-width: 650px;
    margin: 60px 100px;   
}

.content .info h2{
    font-weight: bold;
    color: #FFF858;
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;  
}

.content .info p{
    font-size: 16px;
    font-weight: 500px;
    margin-bottom: 40px;
}