@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
}

body{
    background-image: url("../img/bg_home.png");
    background-repeat: no-repeat;
    background-size:cover;
}
.navbar{
    margin: 0 auto;
}

nav{
    height: 60px;
    background: #fff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10%;
}

.logo{
    padding: 5px 0 0 80px;
    width: 150px;
    height: auto;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    background: #fff;
}

nav ul li a{
    display: block;
    text-decoration:  none;
    color: black;
}

nav ul li a:hover{
    text-decoration: underline;
}

nav ul li a ion-icon{
    padding-left: 5px;
 }

nav ul ul{
    position: absolute;
    display: none;
}

nav ul li:hover > ul{
    display: block;
}

nav ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}

button{
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    background: transparent;
}

button .icon{
    color: red;
    padding-right: 10px;
}

button .text:hover{
    text-decoration: underline;
}

.content{
    max-width: 650px;
    margin: 250px 100px;   
}

.content .info h2{
    font-weight: bold;
    color: #FFF858;
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 100px;
}

.content .info p{
    font-size: 20px;
    font-weight: 500px;
    margin-bottom: 40px;
    color: #fff;
}

.content ion-icon{
    color: #fff;
}

.object{
    display: block;
    margin: 500px;
}